<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Banking Dashboard Template</title>
    <th:block th:replace="layout/head :: head"/>
</head>
<body>
<div class="main-wrapper">
    <th:block th:replace="layout/header :: header"/>
</div>
<div class="sidebar" id="sidebar">
    <th:block th:replace="layout/sidebar :: sidebar"/>
</div>

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <h3 class="page-title mt-3">Banking Management</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex">
                <div class="card card-table flex-fill">
                    <div class="card-header" style="background-color: #ABDDD8">
                        <h3 class="card-title float-left mt-2" style="font-weight: bold">Create Customer</h3>
                        <div class="d-flex float-right " style="gap: 10px;">
                            <a href="/customers">
                                <button type="button" class="btn btn-primary viewbutton"><i class="fas fa-list-ul"></i>
                                    Customers list
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="p-4">
                                <form th:object="${transfer}" method="post">
                                    <div class="row mb-3 mt-3">
                                        <div class="col-lg-3">
                                            <label for="senderId" class="form-label fw-bold">Sender ID</label>
                                            <input type="text" class="form-control" id="senderId" th:field="*{sender.id}" readonly disabled>
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="senderName" class="form-label fw-bold">Sender Name</label>
                                            <input type="text" class="form-control" id="senderName" th:field="*{sender.fullName}" readonly disabled>
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="senderEmail" class="form-label fw-bold">Sender Email</label>
                                            <input type="email" class="form-control" id="senderEmail" th:field="*{sender.email}" readonly disabled>
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="senderBalance" class="form-label fw-bold">Sender balance</label>
                                            <input type="text" class="form-control" id="senderBalance" th:field="*{sender.balance}" disabled>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-lg-3">
                                            <label class="form-label fw-bold" for="recipient">Recipient</label>
                                            <select class="form-select form-control" id="recipient" name="recipientId">
                                                <option th:each="item : ${recipients}" th:value="${item.id}" th:text="${'(' + item.id + ') ' + item.fullName}"></option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="transferAmount" class="form-label fw-bold">Transfer amount</label>
                                            <input type="text" class="form-control" id="transferAmount" th:field="*{transferAmount}" value="0">
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="fees" class="form-label fw-bold">Fees (%)</label>
                                            <input type="text" class="form-control" id="fees" value="10" readonly>
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="transactionAmount" class="form-label fw-bold">Transaction amount</label>
                                            <input type="text" class="form-control" name="transactionAmount" id="transactionAmount" readonly>
                                        </div>
                                    </div>

                                    <div class="row pt-3">
                                        <div class="col-lg-3">
                                            <button type="submit" class="btn btn-outline-primary">
                                                <i class="fas fa-exchange-alt"></i>
                                                Transfer
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:if="${success == true}">
        <footer class="container-fluid success">
            <div class="content container-fluid">
                <div class="notification">
                    <p class="success" th:text="${message}"></p>
                </div>
            </div>
        </footer>
    </th:block>

    <th:block th:if="${success == false}">
        <footer class="container-fluid error">
            <div class="container container-fluid">
                <div class="notification">
                    <p class="error" th:text="${message}"></p>
                </div>
            </div>
        </footer>
    </th:block>
</div>

<th:block th:replace="layout/footer"/>
<script>
    const transferAmountElem = document.getElementById("transferAmount");
    const transactionAmountElem = document.getElementById("transactionAmount");

    transferAmountElem.addEventListener("input", function () {
        const transferAmount = +this.value;

        const fees = 10;
        const feesAmount = transferAmount * fees / 100;

        transactionAmountElem.value = transferAmount + feesAmount;

    })
</script>

</body>
</html>